<h2>This is the landing page for the Apex Legends API</h2>

<p>It's in a pre-alpha version, we will be only adding some information
    about the legends that are currently available ingame</p><br>

<h3>What you can get</h3>
<p>You can use:</p>
<ul>
    <li>GET to call http://localhost:8000/v1/legends and retreive all legends </li>
    <li>GET to call http://localhost:8000/v1/legends/:legendName and retreive a specific legend</li>
    <li>POST to call http://localhost:8000/v1/legends and create a new legend</li>
</ul>